.q-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
  //opacity: 0;
  box-sizing: border-box;

  .dialog__wapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 100%;
    transition: transform 0.2s ease;
    transform: scale(0.8);
    //opacity: 0;
    &.dialog__wapper--active {
      opacity: 1;
      transform: scale(1);
    }

    .dialog__header {
      padding: 10px 15px;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dialog__title {
        font-size: 24px;
        font-weight: 500;
        color: #333;
      }
      .dialog__close {
        cursor: pointer;
        font-size: 16px;
        color: #999;
        &:hover {
          color: #333;
        }
      }
    }

    .dialog__content {
      flex: 1;
      overflow: auto;
      padding: 15px;
    }
  }
}

.q-dialog-fullscreen {
  width: 100%;
  background: #fff;
  height: 100%;
}

.q-dialog-center {

}
