.ql-divide {
  display: flex;
  align-items: center;
  margin: 16px 0;
  color: rgba(0,0,0,.88);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-block-start: 0 rgba(5,5,5,.06);
}

:where(.aid-back).ql-divide.text-line-center::before,
:where(.aid-back).ql-divide.text-line-center::after {
  position: relative;
  width: 50%;
  border-block-start: 1px solid transparent;
  border-block-start-color: inherit;
  border-block-end: 0;
  transform: translateY(50%);
  content: '';
}

