.ql-divide {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  background-repeat: repeat-x;
  background-size: auto;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='962' height='2' viewBox='0 0 962 2' fill='none'><path d='M0 1L962 0.999958' stroke='url(%23paint0_linear_458_4)'/><defs><linearGradient id='paint0_linear_458_4' x1='2.18557e-08' y1='1.5' x2='962' y2='1.49996' gradientUnits='userSpaceOnUse'><stop stop-color='%23D8D8D8'/><stop offset='0.859375' stop-color='%23D8D8D8' stop-opacity='0'/></linearGradient></defs></svg>");
  background-position: center;
}
