.ql-icon {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.rotate-animation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linear-animation {
  animation: linear 2s linear 0.1s infinite alternate;
}

@keyframes linear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
