/* Default styling for the main container */
.ql-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  word-wrap: break-word;
}

/* Styles for different layout options */
.ql-main-center {
  justify-content: center;
}

.ql-main-right {
  align-items: flex-end;
}

.ql-main-left {
  align-items: flex-start;
}

.ql-main-top {
  align-items: flex-start;
}

.ql-main-bottom {
  justify-content: flex-end;
}

/* Styles for controlling height */
.ql-main-height {
  height: 0;
}

/* Styles for controlling width */
.ql-main-width {
  width: 0;
}